# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# LaTeX temporal files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# BibTeX
*.bbl
*.blg
*.bcf
*.run.xml

# Build directory
_minted*/

# Editor backup files
*.bak
*.sav
*~
.*.swp
.codegpt